@import "tailwindcss";

:root {
  --color-background-light: #FAFAF8;
  --color-background-dark: #1A1A1A;
  --color-foreground: #0d031b;
  --color-foreground-white: #FAFAF8;

  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 2rem;
  /*Propuesta 1 – Elegancia Accesible*/
  --color-primary: #3E4C59;
  --color-secondary: #B98C65;

  --font-heading: 'Playfair Display', serif;
  --font-body: 'Inter', sans-serif;

  /*Propuesta 2 – Innovación Cercana*/
  /*
  --color-primary: #2563EB;
  --color-secondary: #10B981;

  --font-heading: 'Montserrat', sans-serif;
  --font-body: 'Source Sans Pro', sans-serif; */

  /*Propuesta 3 – Exclusividad Creativa*/
  /*
  --color-primary: #E07A5F;
  --color-secondary: #6B4F36;

  --font-heading: 'Raleway', sans-serif;
  --font-body: 'Lato', sans-serif; */
}

@theme {
  --color-background-light: var(--color-background-light);
  --color-background-dark: var(--color-background-dark);
  --color-foreground: var(--color-foreground);
  --color-foreground-white: var(--color-foreground-white);

  --spacing-sm: var(--spacing-sm);
  --spacing-md: var(--spacing-md);
  --spacing-lg: var(--spacing-lg);

  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);

  --font-heading: var(--font-heading);
  --font-body: var(--font-body);
}



/* Resets y estilos base */
@layer base {

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    font-family: var(--font-body);
    font-size: 16px;
    /* Base para em/rem */
    color: var(--color-foreground);
    background: var(--color-background-light);
    font-size: 16px;
    text-align: center;
    text-wrap: balance;
    width: 100%;
    margin: 0 auto;
  }

  @media (prefers-color-scheme: dark) {
  body {
    background: var(--color-background-dark);
    color: var(--color-foreground-white);
  }
}

  p {
    font-size: 1rem;
    line-height: 1rem;
    font-family: var(--font-body);
    text-align: left;
  }
}

/* Componentes reutilizables */
/* @layer components {

} */

/* @layer utilities {
  .main-title {
    
  }
} */